<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SistemaBibliotecario.App.Presentacion</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="body-container">
        <header class="header">
        <nav class="navBar">
            <div class="contenedor">
                <div class="navegacion">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Usuarios/list">Usuarios</a>
                        </li>
                       
                        <li class="nav-item">
                            <a asp-area="" asp-page="/TurnosBibliotecario/ListTurnBib">Turnos de bibliotecario</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Libros/ListLibros">Libros</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/TiposLibro/ListTiposLibro">Tipos de libro</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/CategoriasLibro/ListCategoriasLibro">Categorias de libro</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/IdiomasLibro/ListIdiomas">Idiomas de libro</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Autores/ListAutores">Autores</a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-page="/Editoriales/ListEditoriales">Editoriales</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    
    <div class="main">
        <header class="main-header">
            <h1>Libreria Distrital</h1>
            <div class="logo"></div>
        </header>

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    </div>
    <footer>
        <div class="footer-content">
            &copy; 2021 - SistemaBibliotecario.App.Presentacion - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
