/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  max-height: 100%;   
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* --------------------- */


header.header{
  height: 95vh;
  width: 25%;
  background-color: #313131;
}



.contenedor{
  padding: 8% 5% 0 5%;
}

.contenedor p{
  font-size:15px;
  color: whitesmoke;
}

.userName{
  font-size: 25px;
  color: white;
}

.navegacion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navegacion ul {
  width: 60%;
}
.navegacion ul li{
  
  margin: 1% 0;
  border-radius: 5px;
}

.navegacion ul li:hover{
  background-color: #2196F5;
}


.navegacion ul li a{
  
  display: block;
  color: white;
  font-size: 18px;
  padding: 5% 4%;
}
.navegacion ul li a:hover{
  text-decoration: none;
}


.body-container{
  display: flex;
}

.main{
  flex-grow: 1;
  background-color: #434343;
  
}

.main-header{
  display: flex;
  padding: 1% 4%;
  background-color: #313131;
  justify-content: right;
  align-items: center;
}
.main-header h1{
  font-size: 25px;
  color: white;
}

.main main{
  padding: 4% 2%;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: #202020;
}

.footer-content{
  
  color: white;
}

.logo{
  width: 30px;
  height: 30px;
  background-image: url(../../wwwroot/assets/Logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}