@page
@model SitemaBibliotecario.App.Presentacion.Pages.EditEditorialesModel
@{
}

<h2 class="text-light">Creacion o actualización del editorial @Model.editorial.edit_nombre</h2>
<form method="post">
    <input type="hidden" asp-for="editorial.id" />

    <div class="form-group w-75">
        <label class="text-secondary" asp-for="editorial.edit_nombre">Nombre</label>
        <input asp-for="editorial.edit_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="editorial.edit_nombre"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br>
<a asp-page="./ListEditoriales" class="btn btn-secondary">Volver a la Lista de Editoriales... </a>