@page
@model SitemaBibliotecario.App.Presentacion.Pages.DeleteTiposLibroModel
@{
}

<h2>Eliminar idioma de libro @Model.tipoLibro.tipoLibro_nombre</h2>
<form method="post">
    <input type="hidden" asp-for="tipoLibro.id" />
    <div class="form-group">
        Id en base de datos: @Model.tipoLibro.id
    </div>
   
    <div class="form-group">
        Nombres: @Model.tipoLibro.tipoLibro_nombre
    </div>
    
    
    <button type="submit" class="btn btn-success">Eliminar</button>    
</form>

<a asp-page="./ListTiposLibro" class="btn-default">Volver a la Lista de tipos de Libro... </a>
