@page
@model SitemaBibliotecario.App.Presentacion.EditTiposLibroModel
@{
}

<h2 class="text-light">Creacion o actualización del idioma de libro <i
        class="text-primary">@Model.tipoLibro.tipoLibro_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="tipoLibro.id" />

    <div class="form-group w-75">
        <label class="text-secondary" asp-for="tipoLibro.tipoLibro_nombre">Tipo Libro</label>
        <input asp-for="tipoLibro.tipoLibro_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="tipoLibro.tipoLibro_nombre"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br>
<a asp-page="./ListTiposLibro" class="btn btn-secondary">Volver a la Lista de tipos de libro... </a>