@page
@model SitemaBibliotecario.App.Presentacion.Pages.DeleteIdiomasModel
@{
}

<h2 class="text-light">Eliminar idioma de libro <i class="text-primary">@Model.idiomaLibro.idiomaLibro_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="idiomaLibro.id" />
    <div class="form-group text-light">
        <strong>Id en base de datos:</strong> @Model.idiomaLibro.id
    </div>

    <div class="form-group text-light">
        <strong>Nombres:</strong> @Model.idiomaLibro.idiomaLibro_nombre
    </div>

    <br>
    <button type="submit" class="btn btn-danger">Eliminar</button>
</form>
<br>
<a asp-page="./ListIdiomas" class="btn btn-secondary">Volver a la Lista de idiomas de Libro... </a>