@page
@model SitemaBibliotecario.App.Presentacion.Pages.EditIdiomasModel
@{
}



<h2 class="text-light">Creacion o actualización del idioma de libro <i
        class="text-primary">@Model.idiomaLibro.idiomaLibro_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="idiomaLibro.id" />

    <div class="form-group w-75">
        <label class="text-secondary" asp-for="idiomaLibro.idiomaLibro_nombre">Idioma</label>
        <input asp-for="idiomaLibro.idiomaLibro_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="idiomaLibro.idiomaLibro_nombre"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br>
<a asp-page="./ListIdiomas" class="btn btn-secondary">Volver a la Lista de Idiomas de libro... </a>