@page
@model SitemaBibliotecario.App.Presentacion.Pages.EditCategoriasLibroModel
@{
}

<h2>Creacion o actualización del categorias de libro @Model.categoriaLibro.catLibro_nombre</h2>
<form method="post">
    <input type="hidden" asp-for="categoriaLibro.id" />    
    
    <div class="form-group">
        <label asp-for="categoriaLibro.catLibro_nombre"></label>
        <input asp-for="categoriaLibro.catLibro_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="categoriaLibro.catLibro_nombre"></span>
    </div>
    
    <button type="submit" class="btn btn-success">Guardar</button>    
</form>

<a asp-page="./ListCategoriasLibro" class="btn-default">Volver a la Lista de categorias de libro... </a>
