@page
@model SitemaBibliotecario.App.Presentacion.Pages.EditCategoriasLibroModel
@{
}

<h2 class="text-light">Creacion o actualización del categorias de libro <i
        class="text-primary">@Model.categoriaLibro.catLibro_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="categoriaLibro.id" />

    <div class="form-group w-75">
        <label class="text-secondary" asp-for="categoriaLibro.catLibro_nombre">Nombre</label>
        <input asp-for="categoriaLibro.catLibro_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="categoriaLibro.catLibro_nombre"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br>
<a asp-page="./ListCategoriasLibro" class="btn btn-secondary">Volver a la Lista de categorias de libro... </a>