@page
@model SitemaBibliotecario.App.Presentacion.DeleteAutoresModel
@{
}
<h2 class="text-light">Eliminar autor <i class="text-primary">@Model.autor.aut_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="autor.id" />
    <div class="form-group text-light">
        <strong>Id en base de datos:</strong> @Model.autor.id
    </div>

    <div class="form-group text-light">
        <strong>Nombres:</strong> @Model.autor.aut_nombre
    </div>
    <br>

    <button type="submit" class="btn btn-success">Eliminar</button>
</form>
<br>
<a asp-page="./ListAutores" class="btn btn-secondary">Volver a la Lista de autores... </a>