@page
@model SitemaBibliotecario.App.Presentacion.EditAutoresModel
@{
}

<h2 class="text-light">Creacion o actualización del autor @Model.autor.aut_nombre</h2>
<form method="post">
    <input type="hidden" asp-for="autor.id" />

    <div class="form-group w-75">
        <label class="text-secondary" asp-for="autor.aut_nombre">Nombre</label>
        <input asp-for="autor.aut_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="autor.aut_nombre"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br>
<a asp-page="./ListAutores" class="btn btn-secondary">Volver a la Lista de autores... </a>