@page
@model SistemaBibliotecario.App.Presentacion.Pages.DeleteTurnBibModel
@{
}

<h2>Eliminar turno @Model.turno.turn_nombre</h2>
<form method="post">
    <input type="hidden" asp-for="turno.id" />
    <div class="form-group">
        Id en base de datos: @Model.turno.id
    </div>
    
    <div class="form-group">
        Nombres: @Model.turno.turn_nombre
    </div>
    
    <button type="submit" class="btn btn-success">Eliminar</button>    
</form>

<a asp-page="./ListTurnBib" class="btn-default">Volver a la Lista de turnos... </a>
