@page
@model SistemaBibliotecario.App.Presentacion.Pages.EditTurnBibModel
@{
}

<h2 class="text-light">Creacion o actualización del turno <i class="text-primary">@Model.turno.turn_nombre</i></h2>
<form method="post">
    <input type="hidden" asp-for="turno.id" />

    <div class="form-group w-75">
        <label class="text-secondary" asp-for="turno.turn_nombre">Turno</label>
        <input asp-for="turno.turn_nombre" class="form-control">
        <span class="text-danger" asp-validation-for="turno.turn_nombre"></span>
    </div>
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
</form>
<br>
<a asp-page="./ListTurnBib" class="btn btn-secondary">Volver a la Lista de turnos... </a>